@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

//colors
:root {
--Dark-cyan: hsl(158, 36%, 37%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Cream: hsl(30, 38%, 92%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--ff-heading:'Fraunces', serif;
--ff-body:'Montserrat', sans-serif;
}

img,svg {
    display: block;
    width: 100%;
}

body {
    font-size: 1.4rem;
    background: var(--Cream);
    min-height: 100vh;
    padding: 1em;
    align-items: center;
    justify-content: center;
}